01_n8n/experiments/01_orchestration/Editor Agent.json
{
  "name": "Editor Agent",
  "nodes": [
    {
      "parameters": {
        "path": "ec6fd6c0-a2ed-480a-bab7-b209bc50f507",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        64
      ],
      "id": "8f1b57bd-4dfa-4765-9319-097e1d83066e",
      "name": "Webhook",
      "webhookId": "ec6fd6c0-a2ed-480a-bab7-b209bc50f507"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an editor agent. You improve structure, length and readability. You enforce output preferences.\n\n{{ $json.body.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        64
      ],
      "id": "7b2dc3e1-0cfe-4931-9394-489cfbfcfa15",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        272
      ],
      "id": "979df4e2-5f80-4a89-b453-f2051d4cc379",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yHoyiBrcyfOgulYE",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5768233d-1d52-46c3-a353-36e6cbb6c46d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f978a841a740f99c33f7b6fbac6c492729da430708b5296e90ec85a3627272a7"
  },
  "id": "JAMA0NngSie7JGdU",
  "tags": []
}